<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- ========================================================= -->
	<!-- Product -->
	<!-- ========================================================= -->

	<Product
		Id="*"
		Name="AdminTrayTool"
		Language="1033"
		Version="$(var.ProductVersion)"
		Manufacturer="Nitheraz"
		UpgradeCode="244eca79-078b-40c5-8c1c-2b7fc36ba934">

		<Package
			InstallerVersion="500"
			Compressed="yes"
			InstallScope="perMachine" />

		<!-- Application icon -->
		<Icon
			Id="TrayIcon"
			SourceFile="adminTray.ico" />

		<Property
			Id="ARPPRODUCTICON"
			Value="TrayIcon" />

		<!-- Handle upgrades -->
		<MajorUpgrade
			DowngradeErrorMessage="A newer version of AdminTrayTool is already installed."
			Schedule="afterInstallInitialize" />

		<!-- Embed all files inside MSI -->
		<MediaTemplate EmbedCab="yes" />

		<!-- ========================================================= -->
		<!-- Installer UI -->
		<!-- ========================================================= -->

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<WixVariable
			Id="WixUILicenseRtf"
			Value="installer\License.rtf" />

		<UIRef Id="WixUI_InstallDir" />

		<!-- ========================================================= -->
		<!-- Features -->
		<!-- ========================================================= -->

		<Feature
			Id="MainFeature"
			Title="AdminTrayTool"
			Description="AdminTrayTool application"
			Level="1">

			<!-- Main application -->
			<ComponentGroupRef
				Id="AppFiles" />

			<!-- GAM7 -->
			<ComponentGroupRef
				Id="GAM7Files" />

			<!-- Start Menu shortcut -->
			<ComponentRef
				Id="StartMenuShortcutComponent" />

		</Feature>

	</Product>


	<!-- ========================================================= -->
	<!-- Directory Structure -->
	<!-- ========================================================= -->

	<Fragment>

		<Directory
			Id="TARGETDIR"
			Name="SourceDir">

			<!-- ======================================================= -->
			<!-- Program Files -->
			<!-- ======================================================= -->

			<Directory
				Id="ProgramFilesFolder"
				Name="ProgramFilesFolder">
				<Directory
					Id="INSTALLFOLDER"
					Name="AdminTrayTool">

					<!-- GAM7 -->
					<Directory
						Id="GAM7Folder"
						Name="GAM7" />
					 </Directory>

			</Directory>


			<!-- ======================================================= -->
			<!-- ProgramData -->
			<!-- ======================================================= -->

			<Directory
				Id="CommonAppDataFolder"
				Name="CommonAppDataFolder">

				<Directory
					Id="ProgramDataAdminTrayTool"
					Name="AdminTrayTool">

				</Directory>

			</Directory>


			<!-- ======================================================= -->
			<!-- Start Menu -->
			<!-- ======================================================= -->

			<Directory Id="ProgramMenuFolder">

				<Directory
					Id="ProgramMenuAdminTrayTool"
					Name="AdminTrayTool">

					<Component
						Id="StartMenuShortcutComponent"
						Guid="{A6A57B3E-7273-4ADB-8779-DD98E9A439CD}">

						<Shortcut
							Id="AdminTrayToolShortcut"
							Name="Admin Tray Tool"
							Description="AdminTrayTool administration utility"
							Target="[INSTALLFOLDER]AdminTrayTool.exe"
							WorkingDirectory="INSTALLFOLDER"
							Icon="TrayIcon"
							IconIndex="0" />

						<RemoveFolder
							Id="RemoveProgramMenuAdminTrayTool"
							On="uninstall" />

						<RegistryValue
							Root="HKCU"
							Key="Software\Nitheraz\AdminTrayTool"
							Name="Installed"
							Type="integer"
							Value="1"
							KeyPath="yes" />

					</Component>

				</Directory>

			</Directory>

		</Directory>

	</Fragment>

</Wix>